.redes {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.redes {
    position: fixed;
    top: 200px;
    z-index: 2000;
}

.redes ul {
    list-style: none;
}

.redes ul li a {
    display: inline-block;
    margin-left: -40px;
color: #fff;
background: #000;
padding: 15px 15px;
text-decoration: none;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease;
}

.redes ul li .icon-twitter {
    background:white;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}
.redes ul li .icon-youtube {
    background:white;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}
.redes ul li .icon-instagram {
    background:white;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}
.redes ul li .icon-facebook {
    background:white;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}
.redes ul li .icon-gmail {
    background: white;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}

.redes ul li a:hover {
    padding: 10px 30px;
    background transparent;
}